<ons-navigator var="homeNavigator">
	<ons-page id="home-page" ng-controller="HomeController">
		<ons-toolbar>
			<div class="center">
				<img src="img/big-logo.png" height="52px" />
			</div>
		</ons-toolbar>
		<div id="home">
			<h2>¿Donde nos vemos?</h2>
			<div data-ng-init="loadFeed()">
				<div class="loader" ng-class="loading">
					<ons-icon class="ion-looping"></ons-icon>
				</div>
				<ons-scroller>
					<div class="feed-list-item" ng-repeat="feed in feeds">
						{{event.title}}
					</div>
				</ons-scroller>
			</div>
		</div>
	</ons-page>
</ons-navigator>