/**
 * Global styles
 */
section {
	margin: 0;
	padding: 0;
}

section + section {
	padding-top: 15px;
}

input,
textarea {
	width: 100%;
	display: block;
}

textarea {
	min-height: 100px;
}

small {
	font-size: 12px;
	font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

h1,h2 {
	margin-top: 10px;
}

form {
	padding-bottom: 10px;
}

form section {
	padding: 10px 0;
}

form ons-button.button {
	margin-top: 10px;
}

/**
 * Onsen UI overwrites
 **/
.page__content .page__content {
	padding: 10px;
	padding-top: 75px;
}

.row + .row {
	margin-top: 10px;
}

.modal .modal__content ons-icon {
	font-size: 30px;
}

.ion-looping {
	font-size: 60px;
	color: #7C84AE;
}

/**
 * Components
 */

.link-list {
	font-size: 12px;
	margin: 10px auto;
	display: block;
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
}

.loader.loading-in-progress,
.items-list.loading-completed {
	display: block;
}

.loader.loading-completed,
.items-list.loading-in-progress {
	display: none;
}

.items-list {
	margin-top: 10px;
}

/**
 * Login
 */

#login-page .ons-page-inner {
	background: url('../img/login-background.jpg') no-repeat left top #000;
	background-size: cover;
	background-position: center;
	padding: 30px;
}

#login-page p {
	margin: 50px auto 60px;
	color: #7C84AE;
	width: 70%;
	text-align: center;
}