<ons-page id="event-create-page" ng-controller="EventCreateController">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">
        	<img src="img/big-logo.png" height="52px"" />
        </div>
    </ons-toolbar>
    <div id="create-event">
    	<h2>Crear Evento</h2>
        <form id="create-event-form" method="POST">
        	<section>
        		<label for="ce-title">Titulo</label>
        		<input type="text" class="text-input" ng-model="title" id="ce-title" required="required">
        	</section>
        	<section>
        		<label for="ce-theme">Tema</label>
        		<input type="text" class="text-input" ng-model="theme" id="ce-theme" required="required" />
        	</section>
        	<section>
        		<label for="ce-date">Fecha</label>
        		<input type="date" class="text-input" ng-model="date" id="ce-date" required="required" />
        	</section>
        	<section>
        		<ons-row>
        			<ons-col>
        				<label for="ce-starttime">Inicia</label>
        				<input type="time" class="text-input" ng-model="starttime" required="required" />
        			</ons-col>
        			<ons-col width="10px"></ons-col>
        			<ons-col>
        				<label for="ce-endtime">Fin:</label>
        				<input type="time" class="text-input" ng-model="endtime" required="required" />
        			</ons-col>
        		</ons-row>
        	</section>
        	<section>
        		<label for="ce-photo">Foto:</label>
        		<input type="file" class="text-input" ng-model="photo" id="ce-photo" />
        	</section>
        	<section>
        		<label for="ce-description">Descripcion:</label>
        		<textarea class="textarea" ng-model="description" id="ce-description"></textarea>
        	</section>
        	<section>
        		<label for="ce-budget">Presupuesto:</label>
        		<input type="number" class="text-input" ng-model="budget" id="ce-budget" />
        	</section>
        	<ons-button modifier="large" ng-click="createEvent()">Crear evento</ons-button>
        </form>
    </div>
</ons-page>