<ons-tabbar var="tabbar">
	<ons-tabbar-item
        active="true"
        label="Home"
        icon="ion-home"
        page="views/home/index.html">
    </ons-tabbar-item>

    <ons-tabbar-item
        label="Events"
        icon="ion-calendar"
        page="views/events/index.html">
    </ons-tabbar-item>

    <ons-tabbar-item
        label="Amigos"
        icon="ion-android-friends"
        page="views/friends/index.html">
    </ons-tabbar-item>

    <ons-tabbar-item
        label="Perfil"
        icon="ion-android-contact"
        page="views/profile/index.html">
    </ons-tabbar-item>
</ons-tabbar>